@import url(https://fonts.googleapis.com/css?family=Open+Sans);


@font-face {
	font-family: edunline;
	src: url("/assets/fonts/edunline.ttf");
}

.logoContainer {
	width: 100%;
	margin: 0 auto;
}

.ascii {
	color: rgba(255,255,255,1);
	font-weight: bold;
    border: 0px solid black;
	font-size: calc(25px + (45 - 25) * ((100vw - 300px) / (1600 - 300)));
	font-family: edunline;
}

.logo {
	font: 10px/5px monospace;
}

#blinky{
	animation: blink 3s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}